
[Web_Server]
PROTOCOL = https
URL =******************************
PORT = ******
CERTIFICATE_FILE = /home/app/Downloads/check_cs/certificate.pem

[User]
ENCRYPTION_KEY_FILE = /home/app/Downloads/check_cs/private_transfer_key.pem

[form_fields]
FILE_NAME_TAG = file_transfer
FILE_TAG = file

[apis]
FILE_TRANS = api/v1/file_trans
DATA_SERVER=api/v1/data_server
UPDATE=api/v1/update


